<li class="table-list-item rental-list-item" id="booking_<%= booking.to_param %>">
  <div class="row">
    <div class="col-xs-2 table-list-cell">
      <span><%= booking.request_id %></span>
    </div>
    <div class="col-xs-3 table-list-cell">
      <%= link_to booking.guest_name,
        "javascript:;",
        data: {
          content: html_escape_once(guest_contact_info_popover(booking)),
          html: "true",
          placement: "right",
          toggle: "popover",
          trigger: "focus"
        },
        role: "button",
        tabindex: 0,
        title: "Guest Information"
      %>
    </div>
    <div class="col-xs-2 table-list-cell">
      <span><%= booking.starts_at.strftime("%-m/%-d/%Y") %></span>
    </div>
    <div class="col-xs-2 table-list-cell">
      <span><%= booking.ends_at.strftime("%-m/%-d/%Y") %></span>
    </div>
    <div class="col-xs-2 table-list-cell">
      <%= booking_status_label(booking) %>
    </div>
    <div class="col-xs-1 table-list-cell actions">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle manage-booking"
          data-toggle="dropdown"
          type="button">
          <%= fa_icon "cog" %>
          <%= fa_icon "caret-down" %>
        </button>
        <ul class="dropdown-menu">
          <% if booking.pending? %>
            <li>
              <%= button_to "Approve booking",
                admin_booking_approvals_path(booking),
                class: "btn-link"
              %>
            </li>
            <li>
              <%= button_to "Reject booking",
                admin_booking_rejections_path(booking),
                class: "btn-link btn-danger",
                data: {
                  confirm: "Are you sure you want to reject this booking?"
                }
              %>
            </li>
          <% elsif booking.approved? %>
            <li>
              <%= button_to "Mark booking as paid",
                admin_booking_payments_path(booking),
                class: "btn-link"
              %>
            </li>
          <% end %>
          <% if booking.approved? || booking.paid? %>
            <li>
              <%= button_to "Cancel booking",
                admin_booking_cancellations_path(booking),
                class: "btn-link btn-danger",
                data: {
                  confirm: "Are you sure you want to cancel this booking?"
                }
              %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</li>
