<h2>Bookings</h2>
<div class="subnav">
  <div class="row">
    <div class="col-xs-6">
      <%= bookings_status_filter_button_group %>
    </div>
    <div class="col-xs-offset-2 col-xs-4">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Guest: A - Z", params.permit(:sort).merge(sort: "guest_name_asc") %>
            </li>
            <li>
              <%= link_to "Guest: Z - A", params.permit(:sort).merge(sort: "guest_name_desc") %>
            </li>
            <li>
              <%= link_to "Date: Oldest to Newest", params.permit(:sort).merge(sort: "date_asc") %>
            </li>
            <li>
              <%= link_to "Date: Newest to Oldest", params.permit(:sort).merge(sort: "date_desc") %>
            </li>
          </ul>
        </div>
        <%= link_to rentals_search_path, class: "btn btn-success" do %>
          <%= fa_icon "plus-circle" %>
          Add booking
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="table-list-header">
  <div class="row">
    <div class="col-xs-2">
      <h5>Rental</h5>
    </div>
    <div class="col-xs-3">
      <h5>Guest</h5>
    </div>
    <div class="col-xs-2">
      <h5>Check In</h5>
    </div>
    <div class="col-xs-2">
      <h5>Check Out</h5>
    </div>
    <div class="col-xs-2">
      <h5>Status</h5>
    </div>
    <div class="col-xs-1">
      <h5>&nbsp;</h5>
    </div>
  </div>
</div>
<ul class="bookings table-list">
  <%= render partial: "admin/bookings/booking", collection: @bookings %>
</ul>
<div class="paginate-container">
  <%= paginate @bookings %>
  <div class="paginate-info">
    <%= page_entries_info @bookings %>
  </div>
</div>
