<li class="table-list-item member-list-item" id="member_<%= member.to_param %>">
  <div class="row">
    <div class="col-xs-4 table-list-cell">
      <%= link_to member.full_name,
        "#",
        data: {
          content: html_escape_once(member_contact_info_popover(member)),
          html: "true",
          placement: "right",
          toggle: "popover",
          trigger: "focus"
        },
        role: "button",
        title: "Contact Information"
      %>
    </div>
    <div class="col-xs-7 table-list-cell">
      <span><%= member.membership_id %></span>
    </div>
    <div class="col-xs-1 table-list-cell actions">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle manage-member"
          data-toggle="dropdown"
          type="button">
          <%= fa_icon "cog" %>
          <%= fa_icon "caret-down" %>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Edit member", edit_admin_member_path(member) %></li>
        </ul>
      </div>
    </div>
  </div>
</li>
