<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-links"
              type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Front Desk", admin_root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse" id="navbar-links">
      <ul class="nav navbar-nav">
        <li><%= link_to "Bookings", admin_bookings_path %></li>
        <li><%= link_to "Members", admin_members_path %></li>
        <li><%= link_to "Rentals", admin_rentals_path %></li>
        <li><%= link_to "Users", admin_users_path %></li>
      </ul>
    </div>
  </div>
</nav>
