<h2>Rentals</h2>
<div class="subnav">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to new_admin_rental_path, class: "btn btn-success" do %>
          <%= fa_icon "plus-circle" %>
          Add rental
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="table-list-header">
  <div class="row">
    <div class="col-xs-4">
      <h5>Name</h5>
    </div>
    <div class="col-xs-4">
      <h5>Description</h5>
    </div>
    <div class="col-xs-2">
      <h5>Status</h5>
    </div>
    <div class="col-xs-2">
      <h5>&nbsp;</h5>
    </div>
  </div>
</div>
<ul class="rentals table-list">
  <%= render partial: "admin/rentals/rental", collection: @rentals %>
</ul>
<div class="paginate-container">
  <%= paginate @rentals %>
  <div class="paginate-info">
    <%= page_entries_info @rentals %>
  </div>
</div>
