<div class="hero-image-container">
  <%= image_tag(
    "pvr-logo.png",
    alt: "Paradise Valley Resort Logo",
    class: "hero-image"
  ) %>
</div>
<div class="search-card-container">
  <div class="search-card">
    <div class="search-card-inner-container">
      <h2 class="search-card-header text-center">
        When would you like to stay?
      </h2>
      <%= simple_form_for(@search, url: rentals_search_path, method: :get) do |f| %>
        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :starts_at, required: true %>
            </div>
            <div class="col-xs-6">
              <%= f.input :ends_at, required: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.submit "Check availability", class: "btn btn-success btn-block" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="search-results-container">
  <% if @search.errors.blank? %>
    <% if @search.results.present? %>
      <ul class="search-results">
        <%= render partial: "rental_searches/result", collection: @search.results %>
      </ul>
    <% elsif %>
      <div class="row">
        <div class="center-block col-xs-6 search-results-blankslate">
          <p>Sorry, there are no rentals available during those dates.</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      var defaultDateTimePickerOptions = {
      format: "YYYY-MM-DD",
      // extraFormats: ["YYYY-MM-DDTHH:mm:ssZ"],
      minDate: moment(),
      useCurrent: false,
      viewMode: "days",
      };
      var $searchStartsAt = $("#rental_search_starts_at");
      var $searchEndsAt = $("#rental_search_ends_at");

      $searchStartsAt.datetimepicker(defaultDateTimePickerOptions);
      $searchEndsAt.datetimepicker(defaultDateTimePickerOptions);

      $searchStartsAt.add($searchEndsAt).on("dp.show", function(event) {
        var $pickerSwitch = $(".bootstrap-datetimepicker-widget .picker-switch");
        $pickerSwitch.css({
          "background": "#fff",
          "cursor": "default",
        });
        $pickerSwitch.removeAttr("title");
        $pickerSwitch.on("click", function(event) { event.stopPropagation(); });
      });

      $searchStartsAt.on("dp.change", function(event) {
        if (event.date) {
          var minDate = moment(event.date).add(1, "days");

          $searchEndsAt.data("DateTimePicker").minDate(minDate);
          if ($searchEndsAt.data("DateTimePicker").date() < minDate) {
            $searchEndsAt.data("DateTimePicker").date(null);
          }
        } else {
          $searchEndsAt.data("DateTimePicker").minDate(moment());
        }
      });

      $searchEndsAt.on("dp.change", function(event) {
        if (event.date) {
          $searchStartsAt.data("DateTimePicker").maxDate(event.date);
          if ($searchStartsAt.data("DateTimePicker").date() > event.date) {
            $searchStartsAt.data("DateTimePicker").date(null);
          }
        }
      });
    });
  </script>
<% end %>
