<%= simple_form_for([:admin, @user]) do |f| %>
  <%= error_notification(f, resource_display_name: "user account") %>

  <%= f.input :first_name, required: true, autofocus: true %>
  <%= f.input :last_name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :password,
    required: true,
    autocomplete: "off",
    hint: user_password_hint(@user)
  %>
  <%= f.input :password_confirmation, autocomplete: "off", required: true %>
  <% if policy(@user).demote? %>
    <%= f.input :admin, as: :radio_buttons %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn-success pull-right" %>
    <%= link_to "Cancel", :back, class: "btn btn-default pull-right" %>
  </div>
<% end %>
