<li class="table-list-item user-list-item" id="user_<%= user.to_param %>">
  <div class="row">
    <div class="col-xs-4 table-list-cell">
      <span><%= user.full_name %></span>
    </div>
    <div class="col-xs-4 table-list-cell">
      <span><%= mail_to user.email %></span>
    </div>
    <div class="col-xs-1 table-list-cell">
      <% if user.admin? %>
        <span class="label label-default">Admin</span>
      <% else %>
        <span>&nbsp;</span>
      <% end %>
    </div>
    <div class="col-xs-2 table-list-cell">
      <% if user.deactive? %>
        <span class="text-muted">Deactivated</span>
      <% else %>
        <span>&nbsp;</span>
      <% end %>
    </div>
    <div class="col-xs-1 table-list-cell actions">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle manage-user"
          data-toggle="dropdown"
          type="button">
          <%= fa_icon "cog" %>
          <%= fa_icon "caret-down" %>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Edit user", edit_admin_user_path(user) %></li>
          <% if user.admin? %>
            <li>
              <%= button_to "Remove admin access",
                admin_user_demotions_path(user),
                class: "btn-link btn-danger",
                data: { confirm: "Are you sure you want to remove this user's admin access?" }
              %>
            </li>
          <% else %>
            <li>
              <%= button_to "Grant admin access",
                admin_user_promotions_path(user),
                class: "btn-link"
              %>
            </li>
          <% end %>
          <% if user.active? %>
            <li>
              <%= button_to "Deactivate user",
                admin_user_deactivations_path(user),
                class: "btn-link btn-danger",
                data: { confirm: "Are you sure you want to deactivate this user?" }
              %>
            </li>
          <% else %>
            <li>
              <%= button_to "Reactivate user",
                admin_user_reactivations_path(user),
                class: "btn-link"
              %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</li>
