<h2>Users</h2>
<div class="subnav">
  <div class="row">
    <div class="col-xs-6">
      <%= users_status_filter_button_group %>
    </div>
    <div class="col-xs-offset-4 col-xs-2">
      <div class="pull-right">
        <%= link_to new_admin_user_path, class: "btn btn-success" do %>
          <%= fa_icon "plus-circle" %>
          Add user
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="table-list-header">
  <div class="row">
    <div class="col-xs-4">
      <h5>Name</h5>
    </div>
    <div class="col-xs-4">
      <h5>Email</h5>
    </div>
    <div class="col-xs-2">
      <h5>Role</h5>
    </div>
    <div class="col-xs-1">
      <span>&nbsp;</span>
    </div>
    <div class="col-xs-1">
      <span>&nbsp;</span>
    </div>
  </div>
</div>
<ul class="users table-list">
  <%= render partial: "admin/users/user", collection: @users %>
</ul>
<div class="paginate-container">
  <%= paginate @users %>
  <div class="paginate-info">
    <%= page_entries_info @users %>
  </div>
</div>
